.Distance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: white;
}

.stepper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3rem;
    justify-content: flex-start;
  }

  .State-map{
    z-index: 1;
  }
  
  .stack-top{
    top:0;
    right:0;
    position:absolute;
  }

.tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }

.distance-table-container {
  display: table;
  margin-left: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}
