.Distance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.stepper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3rem;
    justify-content: flex-start;
  }

  .tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }

.distance-table-container {
  display: table;
  margin-left: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(0.1rem);
}
