.navbar {
  padding-top: 0.5rem;
  height: 5vh;
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -0.5rem;
  background-color: rgb(205, 224, 245);
}

#space-between {
  width: 40rem;
}

.navbar-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 5rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.navbar h1 {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: #424751;
}

.navbar-options {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.3rem;
  background: none;
}

.nav-menu {
  background-color: #2a2a2a;
  z-index: 2;
  width: 15vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

@media (min-width: 1400px) {
  .nav-text a {
    display: none;
  }
}
.nav-text {
  display: flex;
  width: 14rem;
  align-self: center;
  justify-content: center;
  list-style: none;
  height: 3rem;
}

.nav-text a {
  overflow: hidden;
  white-space: nowrap;
  width: 8.5em;
  text-align: right;
  transition: all 0.6s ease;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
}

.nav-text span {
  padding-left: 0.5rem;
}

nav-text a:hover {
  color: black;
  transition: all 0.6s ease;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.22);
}

.nav-text .icon {
  display: flex;
  justify-content: center;
  width: 80%;
  transition: all 0.6s ease;
}

.nav-text .icon:hover {
  color: rgb(52, 86, 255);
  transform: scale(1.03);
}

.nav-text .icon:active {
  color: rgb(176, 193, 251);
  transform: scale(0.98);
  transition: 300ms;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #ffffff;
  /* #e8ecf4 */
  height: 1px;
}

img {
  padding-top: 0.6rem;
  padding-left: 0.5rem;
  width: 5rem;
  height: 4rem;
}

#seahawks-logo {
    transition: all 0.5s ease;
}

#seahawks-logo:hover {
  cursor: pointer;
  color: rgb(52, 86, 255);
  transform: scale(1.06);
}

#seahawks-logo:active {
  color: rgb(176, 193, 251);
  transform: scale(0.98);
}
