#mapid { 
  height: 50em; 
  width: 62em;
}

.StateMap {
  position:relative;
  justify-content: start;
  height : 125%;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(0.1rem);
}

.StateMap-Header-Text {
  display: flex;
  justify-content: start;
  width: 100%;
  font-size: 1rem;
}


.StateMap-header {
  padding: 0rem 2rem;
  display: flex;
  border-radius: 1rem;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.State-map{
  z-index: 1;
}

.stack-top{
  top:0;
  right:0;
  position:absolute;
}

.StateMap-content {
  margin-top: 1rem;
  display : flex;
  flex-direction:row;
  height: 50vh;
  width: 90%;
  /* background-color: #f6f8fa; */
}