.tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
}

.table-container {
    display: 'flex';
    flex-direction:'column'; 
    width:'100%';
    margin-left: 2rem;
}