.tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
}

.table-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
}