.tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
}

.table-container {
    display: 'flex';
    flex-direction: 'column';
    width: '100%';
    margin-left: 1rem;
}

/* Font size for the axis of the cluster bubble plot */
svg.recharts-surface tspan {
	font-size: 1.5rem !important;
	color: black !important;
	font-family:  Arial;
}