html {
  background-color: #ffffff;
}

.Home {
  display: flex;
  flex-direction: row;
  text-align: center;
  
  height:100%;
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

.Home-header {
  height : 25%;
  width: 100%;
}

.Home-content {
  display: flex;
  flex-direction: column;
  flex : 0 0 100%;
  height: 110%;
  background-color: white;

}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
  }
}


.Home-link {
  color: #61dafb;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}